
.odd {
  background-color: #BEBEAF;
}
.even {
  background-color: #D6EBFF;
}
.spacer {
    margin-top:2%;
}
.list-item {
  margin-top:1px;
  font-size:15px;
}
.list-title {
  font-size:25px;
}
.left {
  text-align:left;
  margin-left:20px;
  margin-top:1px;
}
#scrollArea {
  height: 300px;
  overflow: auto;
  width:30%;
  margin-left:35%;
}
.back-button {
  background : #0B610B;
	top:90%;
  left:43%;
  width: 14%;
  height: 45px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  position: absolute;
	font-family:"Times New Roman", Times, serif;
  opacity: 1.0;
}
.back-button-title {
    text-align:center;
    padding: 1px 0 0 0;
    color:#FFFFFF;
	  font-size:200%;
}

