
.odd {
  background-color: #BEBEAF;
}
.even {
  background-color: #D6EBFF;
}
.spacer {
    margin-top:10%;
}

.list-item {
  margin-top:1px;
  font-size:15px;
}
.list-title {
  font-size:25px;
}
.left {
  text-align:left;
  margin-left:20px;
  margin-top:1px;
}
#scrollArea {
  height: 550px;
  overflow: auto;
  width:30%;
  margin-left:35%;
}
