<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h3>Address Book</h3>
  </div>
</header>
<div ng-repeat="business in addressList">
    <div>
        <p><img src="/assets/images/{{business.img}}"  height="30px" width="30px">{{business.name}}</p>
        <p>{{business.street}}, {{business.city}} {{business.state}}</p>
        <p>{{business.phone}}</p>
        <p ng-repeat="socialMedia in business.socialMedia">
            <a href="{{socialMedia.link}}" target="_blank"><img src="/assets/images/{{socialMedia.logo}}" height="30px" width="30px"></a>
        </p>
    </div>
</div>
