<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Find What You Need</h1>
  </div>
</header>

<div id="bubbles">
        <div class="bubble x0 font-center">
			<img class='top-margin' src="http://translunardesigns.com/img/LogoColor_128_97.png"  height="25%" width="45%">
			<p class='top-margin'>Text</p><p>Some more text</p><p>Some more text</p>
		</div>
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble xProduct"></div>
        <div class="bubble xService"></div>
</div>

<div>
    <button ng-click="showBubble('x0')">Show</button>
    <button ng-click="hideBubble('x0')">Hide</button>
</div>

<div>
    <a href="#" class="btn btn-primary btn-lg">Home</a>
    <a href="#search" class="btn btn-success btn-lg">Cancel</a>
</div>
