/* Helpful: http://www.css3maker.com/css3-animation.html */

/* scale up */
@keyframes scaleUp {
	from 	{ opacity: 0.0; transform: scale(0); }
  to 	{ opacity: 1.0; transform: scale(2.5); }
}
@-webkit-keyframes scaleUp {
	from 	{ opacity: 0.0; -webkit-transform: scale(0); }
  to 	{ opacity: 1.0; -webkit-transform: scale(2.5); }
}
@-moz-keyframes scaleUp {
	from 	{ opacity: 0.0; -moz-transform: scale(0); }
  to 	{ opacity: 1.0; -moz-transform: scale(2.5); }
}
/* scale up */
@keyframes scaleDown {
	from 	{ opacity: 1.0; transform: scale(2.5); }
  to 	{ opacity: 0.0; transform: scale(0); }
}
@-webkit-keyframes scaleDown {
	from 	{ opacity: 1.0; -webkit-transform: scale(2.5); }
  to 	{ opacity: 0.0; -webkit-transform: scale(0); }
}
@-moz-keyframes scaleDown {
	from 	{ opacity: 1.0; -moz-transform: scale(2.5); }
  to 	{ opacity: 0.0; -moz-transform: scale(0); }
}

.show-bubble { -webkit-animation: scaleUp 0.75s both ease-in-out; -moz-animation: scaleUp 0.75s both ease-in-out; animation: scaleUp 0.75s both ease-in-out; z-index: 8888; }
.hide-bubble { -webkit-animation: scaleDown 0.75s both ease-in-out; -moz-animation: scaleDown 0.75s both ease-in-out; animation: scaleDown 0.75s both ease-in-out; z-index: 9999; }

.bubble-anim.ng-hide-add, .bubble-anim.ng-hide-remove { -webkit-animation: scaleUp 0.75s both ease-in-out; -moz-animation: scaleUp 0.75s both ease-in-out; animation: scaleUp 0.75s both ease-in-out; z-index: 8888; }
.bubble-anim.ng-show-add, .bubble-anim.ng-show-remove { -webkit-animation: scaleDown 0.75s both ease-in-out; -moz-animation: scaleDown 0.75s both ease-in-out; animation: scaleDown 0.75s both ease-in-out; z-index: 9999; }


#bubbles {
  padding: 100px 0;
  height: 100%
}

.bubble {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    position: absolute;
	  font-family:"Times New Roman", Times, serif;
}
.small-button {
    width: 40px;
    height: 15px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    position: absolute;
	  font-family:"Times New Roman", Times, serif;
    opacity: 1.0;
}
.small-button-title {
    text-align:center;
    padding: 0px 0 0 0;
	  font-size:10px;
    color:'black';
}
.red-button {
  background-color: red;
}
.bubble-title {
    text-align:center;
    padding: 25% 0 0 0;
    color:'black';
}
.bubble-category{
    text-align:center;
    padding: 20% 0 0 0;
	  font-size:55%;
}
.bubble-provider-text {
  color:#A9F5F2;
}
.bubble-category-text {
  color:white;
}
.font-center {
    text-align:center;
    background-color: #b0e0e6;
	  font-size:40%;
}
p {
    margin: 0;
    padding: 0;
    text-align:center;
}
.top-margin {
	margin: 10% 0 0 0;
}
.right-margin {
	margin: 0 10% 0 0;
}
.s0 {
  left: 50%;
	top:30%;
}
.s1 {
  left: 25%;
	top:30%;
}
.s2 {
  left: 75%;
	top:30%;
}
.s3 {
  left: 40%;
	top:65%;
}
.s4 {
  left: 65%;
	top:65%;
}
.s5 {
  left: 25%;
	top:40%;
}
.s6 {
  left: 35%;
	top:30%;
}
.p0 {
  left: 50%;
	top:30%;
}
.p1 {
  left: 25%;
	top:30%;
}
.p2 {
  left: 75%;
	top:30%;
}
.p3 {
  left: 40%;
	top:65%;
}
.p4 {
  left: 65%;
	top:65%;
}
.p5 {
  left: 25%;
	top:40%;
}
.p6 {
  left: 35%;
	top:30%;
}



.serviceLevel0 {
  left: 40%;
	top:25%;
  opacity: 0.0;
}
.serviceLevel1 {
  left: 60%;
	top:25%;
}
.serviceLevel2 {
  left: 50%;
	top:55%;
}
.serviceLevel3 {
  left: 70%;
	top:55%;
}
.productLevel0 {
  left: 35%;
	top:25%;
}
.productLevel1 {
  left: 55%;
	top:25%;
}
.productLevel2 {
  left: 45%;
	top:55%;
  opacity: 0.0;
}
.productLevel3 {
  left: 75%;
	top:55%;
}
.xProduct {
  left: 35%;
	top:40%;
}
.xService {
  left: 65%;
	top:40%;
}
.bubble-back {
  left: 35%;
	top:90%;
}
.bubble-reset {
  left: 65%;
	top:90%;
}







