<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Find What You Need</h1>
  </div>
</header>

<div id="bubbles">
    <div class="bubble xProduct bubble-anim" ng-click="moreDetail(true, false, 'Products');" ng-style='{{greenStyle[0]}}'><p class="bubble-title">Products<p><p class>{{productCount}}</p></div>
    <div class="bubble xService bubble-anim" ng-click="moreDetail(false, true, 'Services');" ng-style='{{blueStyle[0]}}'><p class="bubble-title">Services<p><p>{{serviceCount}}</p></div>
    <div class="small-button bubble-back" ng-hide="currentLevel < 0" ng-click="lessDetail();" ng-style='{{greenStyle[0]}}'><p class="small-button-title">Back<p></div>
    <div class="small-button bubble-reset" ng-hide="currentLevel < 0" ng-click="setupDisplay(-1, false, false);" ng-style='{{blueStyle[0]}}'><p class="small-button-title">Reset<p></div>

    <div ng-repeat="cat in productLevelCat">
        <div class="bubble show-bubble productLevel{{$index}} bubble-category-text" ng-click="moreDetail(true, false, cat.cat);" ng-style='{{greenStyle[$index+1]}}'>
            <p class="bubble-category">{{cat.cat}}</p>
            <p class="">{{cat.count}}</p>
        </div>
    </div>
    <div ng-repeat="cat in serviceLevelCat">
        <div class="bubble show-bubble serviceLevel{{$index}} bubble-category-text" ng-click="moreDetail(false, true, cat.cat);" ng-style='{{blueStyle[$index+1]}}'>
            <p class="bubble-category">{{cat.cat}}</p>
            <p class="">{{cat.count}}</p>
        </div>
    </div>

    <div ng-repeat="business in serviceLevelBus">
        <div class="bubble show-bubble s{{$index}} font-center bubble-provider-text" ng-style='{{greenStyle[$index+1]}}' ng-click="addressBookModal(business.id)">
            <img class='top-margin' src="/assets/images/{{business.img}}"  height="{{business.imgHeight}}" width="{{business.imgWidth}}">
            <p>{{business.name}}</p>
            <p>{{business.phone}}</p>
        </div>
    </div>

    <div ng-repeat="business in productLevelBus">
        <div class="bubble show-bubble p{{$index}} font-center bubble-provider-text" ng-style='{{blueStyle[$index+1]}}' ng-click="addressBookModal(business.id)">
            <img class='top-margin' src="/assets/images/{{business.img}}"  height="{{business.imgHeight}}" width="{{business.imgWidth}}">
            <p>{{business.name}}</p>
            <p>{{business.phone}}</p>
        </div>
    </div>
</div>







