/* Helpful: http://www.css3maker.com/css3-animation.html */

.thing-form {
    margin: 20px 0;
}

/* scale up */
@keyframes scaleUp {
	from 	{ opacity: 0.0; transform: scale(0); }
  to 	{ opacity: 1.0; transform: scale(3); }
}
@-webkit-keyframes scaleUp {
	from 	{ opacity: 0.0; -webkit-transform: scale(0); }
  to 	{ opacity: 1.0; -webkit-transform: scale(3); }
}
@-moz-keyframes scaleUp {
	from 	{ opacity: 0.0; -moz-transform: scale(0); }
  to 	{ opacity: 1.0; -moz-transform: scale(3); }
}

/* scale up */
@keyframes scaleDown {
	from 	{ opacity: 1.0; transform: scale(3); }
  to 	{ opacity: 0.0; transform: scale(0); }
}
@-webkit-keyframes scaleDown {
	from 	{ opacity: 1.0; -webkit-transform: scale(3); }
  to 	{ opacity: 0.0; -webkit-transform: scale(0); }
}
@-moz-keyframes scaleDown {
	from 	{ opacity: 1.0; -moz-transform: scale(3); }
  to 	{ opacity: 0.0; -moz-transform: scale(0); }
}

.show-bubble { -webkit-animation: scaleUp 1.5s both ease-in-out; -moz-animation: scaleUp 1.5s both ease-in-out; animation: scaleUp 1.5s both ease-in-out; z-index: 8888; }
.hide-bubble { -webkit-animation: scaleDown 1.5s both ease-in-out; -moz-animation: scaleDown 1.5s both ease-in-out; animation: scaleDown 1.5s both ease-in-out; z-index: 9999; }



html,
body,
body { overflow: hidden }
#bubbles {
  padding: 100px 0;
  height: 100%
}

.bubble {
    width: 60px;
    height: 60px;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
	  font-family:"Times New Roman", Times, serif;
    opacity: 0.0;
}
.small-bubble {
    width: 60px;
    height: 40px;
    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    position: absolute;
	  font-family:"Times New Roman", Times, serif;
    opacity: 1.0;
}
.bubble-title {
    text-align:center;
    padding: 35% 0 0 0;
	  font-size:80%;
    color:'black';
}.small-bubble-title {
    text-align:center;
    padding: 12% 0 0 0;
	  font-size:120%;
    color:'black';
}
.bubble-category{
    text-align:center;
    padding: 30% 0 0 0;
	  font-size:55%;
}
.bubble-provider-text {
  color:#A9F5F2;
}
.bubble-category-text {
  color:white;
}
.font-center {
    text-align:center;
    background-color: #b0e0e6;
	  font-size:40%;
}
p {
    margin: 0;
    padding: 0;
}
.top-margin {
	margin: 10% 0 0 0;
}
.x0 {
  left: 50%;
	top:30%;
}
.x1 {
  left: 25%;
	top:30%;
}

.x2 {
  left: 75%;
	top:30%;
}
.x3 {
  left: 40%;
	top:65%;
  opacity: 0.0;
}
.x4 {
  left: 65%;
	top:65%;
}
.serviceLevel1 {
  left: 65%;
	top:55%;
  opacity: 0.0;
}
.serviceLevel2 {
  left: 65%;
	top:25%;
  opacity: 0.0;
}
.serviceLevel3 {
  left: 35%;
	top:55%;
}
.productLevel1 {
  left: 65%;
	top:55%;
  opacity: 0.0;
}
.productLevel2 {
  left: 65%;
	top:25%;
  opacity: 0.0;
}
.productLevel3 {
  left: 35%;
	top:55%;
}
.xProduct {
  left: 35%;
	top:40%;
}
.xService {
  left: 65%;
	top:40%;
}
.xBack {
  left: 35%;
	top:90%;
}
.xReset {
  left: 65%;
	top:90%;
}


