<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Bubble Base UI</h1>
  </div>
</header>
<div class="slide">
    <img src="/assets/slides/{{slides[slideNumber].img}}" >
    <div class="caption">{{slides[slideNumber].caption}}</div>
    <ul class="bullet-text">
        <li ng-repeat="item in slides[slideNumber].bullets">{{item}}</li>
    </ul>
</div>
<div class="start-small-button start-back" ng-click="previousSlide();" ><p class="start-small-button-title">Previous<p></div>
<div class="start-small-button start-next" ng-click="nextSlide();" ng-style="{'background': nextColor}"><p class="start-small-button-title">{{nextLabel}}<p></div>




