
.start-small-button {
    width: 125px;
    height: 50px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    position: absolute;
	  font-family:"Times New Roman", Times, serif;
    opacity: 1.0;
}
.start-small-button-title {
    text-align:center;
    padding: 5px 0 0 0;
	  font-size:30px;
    color:'black';
}
.start-back {
  left: 35%;
	top:90%;
  background-color: #99ADEB;
}
.start-next {
  left: 65%;
	top:90%;
}
.slide {
  padding: 1% 0 0 20%;
}

.caption {
  padding: 0 0 10px 10%;
	font-size:14px;
}
.bullet-text {
  padding: 0 0 0 12%;
	font-size:25px;
}
